.chat-app {
  display: flex;
  height: 100vh;
}

.left-panel {
  background-color: #f2f2f2;
  padding: 20px;
}

.search-box {
  margin-bottom: 20px;
}

.chat-persons {
  overflow-y: auto;
  margin-top: 20px;
}

.chat-person {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.chat-person:hover {
  background-color: #e0e0e0;
}

.chat-person.active {
  background-color: #c5cae9;
}

.chat-person img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}


.person-name {
  font-weight: bold;
}

.active-status {
  color: green;
}

.right-panel {
  flex-grow: 1;
  padding: 20px;
}

.selected-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.selected-user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.selected-user-info .person-name {
  font-size: 24px;
  font-weight: bold;
}

.active-status {
  color: green;
  margin-left: 10px;
}

.chat-messages {
  overflow-y: auto;
  max-height: calc(100vh - 500px);
}

.message {
  margin-bottom: 10px;
}

.sender {
  font-weight: bold;
}

.chat-input {
  display: flex;
  margin-top: 325px;

}

.chat-input input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  padding-bottom: 25px;
  border-radius: 23px;
  margin-right: 10px;
}

.chat-input button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #45a049;
}

.person-info {
  display: flex;
  flex-direction: column;
}

.search-box {
  width: 25%;
  height: 150px;
  padding-left: 30px;
  margin-bottom: -30px;
  /* Add any other desired styles for the search box */
}

.serch{
  padding: 15px 15px;
  border-radius: 100px;
  padding-right: 100px;
  padding-left: 50px;
}
.con-heading{
 
  margin-left: 20px;
  font-size: larger;
}

.plus-symbol{
  margin-left: 100px;
}